body {background-color: #FFF;}

/* Layout all box */
#headcontent, #container, #header, #navigation, #content, #aside #footer {z-index:100; overflow:auto;}

/* Layout single box */
#header     {    width:  100%;                 background-color: #F7F7F7;}
#headcontent{max-width: 960px; margin: 0 auto; background-color: #C2C2C2;}
#container  {max-width: 958px; margin: 0 auto;              border-left: solid 1px; border-right: solid 1px; border-color: #C2C2C2;}
#navigation {    width: 139px; float: left; padding:10px;}
#content    {    width: 538px; float: left; padding:10px;   border-left: solid 1px; border-right: solid 1px; border-color: #C2C2C2;}
#aside      {    width: 219px; float: left; padding:10px;}
#footer     {max-width: 958px; clear: both; padding:10px;   background-color: #C2C2C2;}

/* Headcontent */
.logo {width: 70px; height: 70px;  float:left; margin-left:30px; background-image: url(pics/logo.jpg);}
#headcontent p {display:block; width:219px; float: right; margin: 50px 10px 0 10px; text-align:center;}

/* Navigation */
#navigation li a {display: block; margin-bottom:10px; padding: 10px 20px; background-color:#F7F7F7; }
#navigation li a:hover, a:hover, #thisSide .thisSide {background-color: #C2C2C2;}

/* Content */
.post {width:20px; height:20px; display:block; float:left; margin-right: 20px; background-image: url(pics/post.jpg);}
article {width:100%; padding-bottom: 20px; margin:0 auto; clear:both;}
article footer {float:right; font-style: italic; margin-top:10px;}
#content a {display:inline; padding: 0 5px;}

#content li, dt {list-style-position:outside; margin: 15px 0 0 30px;}
dd {margin-left: 30px; font-style: italic;}
#content ol li {list-style-type:upper-roman;}
#content ol li ul li {list-style-type:lower-roman;}

th, td {border: 1px solid black; padding:5px 10px; text-align:center; vertical-align:middle;}
caption {font-size:1.25em;  padding-bottom:5px; text-align:center; font-weight:bold;}
tfoot td {text-align:left;}

table {margin-top: 10px;}

/* Aside */

/* Footer */
#footer p {margin:0;}

/* Typography */

a {text-decoration:none; color: black; background-color: #E8E8E8;}
p {margin-top:10px; text-align:justify;}

header {display:block; width:100%; overflow:auto; background-color: #E0E0E0; margin-top:10px; padding:5px 0;}
#aside header {display:block; width:100%; overflow:auto; background-color: #E0E0E0;}
h1 {font-size:2.00em; margin:19px 10px 19px 30px; float:left; }
h2 {font-size:1.50em; padding-bottom:5px; text-align:center; font-weight:bold; border-bottom:solid 1px;}
h3 {font-size:1.25em; float:left; font-weight:bold; padding-left:20px;}
h4 {font-size:1.25em; font-weight:bold; text-align:center;}

/* Media */
figcaption {font-size:0.9em; text-align:justify; font-style: italic; padding:0 5px;}
img, video, svg {width: 100%; overflow:auto; margin-top:10px;}
.left  {width: 60%; margin-right: 10px; float:left;}
.right {width: 60%; margin-left: 10px; float:right;}

/* Field */
fieldset {margin-top:20px; padding:10px 10px; border: dotted 1px;}
select {margin-top:10px;}
button {margin-top:10px;}

/* Color 
#FFF        White
#F7F7F7     Gray (light)
#E0E0E0     Gray (mainlink)
#E8E8E8     Gray (link)
#C2C2C2     Gray (dark)
#000        Black
*/ 
